@charset "utf-8";
html, body, header, nav, ul, li {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font-weight:normal;
    vertical-align:baseline;
    background:transparent;
}
html {
    font:16px monospace;
    display:flex;
}
body {
    color:#000000;
    max-width:1140px;
    margin:0 auto 100px auto;
}
.bar {
    height:20px;
    color:white;
    background-color:#222222;
    font-size:x-small;
    display: flex;
    align-items:center;
    justify-content:right;
    padding-right:3px;
}
li {
    padding-bottom:10px;
}
section {
    display:flex;
    flex-direction:row;
}
nav {
    font-size:smaller;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 165px;
    padding:0 5px 0 15px;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
@media (max-width:600px) {
    section {
        display:flex;
        flex-direction:column;
    }
    nav {
        margin:auto;
        width:100%;
        text-align:center;
    }
    nav ul {
        padding-top:5px;
    }
    .menu {
        display:none;
    }
}
article {
    padding-right:5px;
}
article ul {
    padding-left:15px;
}
a {
    text-decoration:none;
}
a:visited {
    color:#828282;
}
img {
    max-width:100%;
    border:0;
    -ms-interpolation-mode:bicubic;
    vertical-align:middle;
}
